@model List<CountryManagementSystem.Models.CountryViewModel>
@{
    ViewBag.Title = "AllCountryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1><b>All Country Details</b></h1></center>
<form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Country Name</th>
                <th>SubRegion</th>
                <th>Population</th>
                <th>Border</th>
                <th>Currency</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                <tr>
                    <td>@country.Name</td>
                    <td>@country.Subregion</td>
                    <td>@country.Population</td>
                    <td>
                        @if (country.Borders != null)
                        {
                            <span>@string.Join(", ", country.Borders)</span>
                        }
                    </td>
                    <td>
                        @if (country.Currencies != null)
                        {
                            foreach (var currency in country.Currencies)
                            {
                                @*@(currency.code + " - " + currency.name + " - "  + currency.symbol)*@
                                @($"{currency.code} - {currency.name} - {currency.symbol}")
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
